name: Publish to Microsoft Store

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Empty for latest tag or specify a tag to publish
        type: string
  push:
    tags:        
      - '*'

jobs:
  # Publish to Microsoft Store
  publish:
    runs-on: ubuntu-latest
    steps:
    # Setup variables
    - name: Save job output OR workflow dispatch to Env
      run: |
        if [[ ${{ github.event_name == 'workflow_dispatch' }} == true ]]; then
          TAG=${{ inputs.tag }}
        else
          TAG=${{ env.RELEASE }}
        fi
        echo "TAG=$TAG" >> $GITHUB_ENV
        echo "Tag: $TAG"

    # Download release asset
    - name: Download release asset
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        version: tags/${{ env.TAG }}
        file: wsl2-distro-manager-${{ env.TAG }}-unsigned.msix
        target: 'release/release.msix'

    # Publish to Microsoft Store
    - uses: isaacrlevin/windows-store-action@1.0
      name: Publish to Store
      with:
        tenant-id: ${{ secrets.AZURE_AD_TENANT_ID }}
        client-id: ${{ secrets.AZURE_AD_APPLICATION_CLIENT_ID }}
        client-secret: ${{ secrets.AZURE_AD_APPLICATION_SECRET }}
        app-id: ${{ secrets.STORE_APP_ID }}
        package-path: 'release/release.msix'